@model IEnumerable<Models.Bid>

@{
    ViewData["Title"] = "ViewProposals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"> Bids</h1>

<div class="container">

    <table class="table">
        <thead>
            <tr>

                <th>
@*                    @Html.DisplayNameFor(model => model.Job.Title)
*@                </th>
                <th>
                    Freelancer
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BidAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpectedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
@*                        @Html.DisplayFor(modelItem => item.Job.Title)
*@                    </td>
                    <th>
@*                        @Html.ActionLink(item.Freelancer.UserDetails.Name, "Profile", "Freelancer",new { userId = item.Freelancer.UserDetails.UserId }, htmlAttributes:null )
*@
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (item.Status.Trim() == "Pending")
                        {
                            <input type="button" class="btn btn-success" onclick="ConfirmAcceptProposal(@item.BidId)" value="Accept" />
                        }

                        </td>
                       
                    </tr>
            }
        </tbody>
    </table>
</div>